name: Not Projesi CI/CD

on: [push] # GitHub'a her kod attığında çalışır

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
      - name: Go Kurulumu
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Testleri Çalıştır
        run: |
          cd backend
          go test -v